/*
Color Patette
Desert Night
www.color-hex.com/color-palette/61955

#22223b
#4a4e69
#9a8c98
#c9ada7
#f2e9e4
*/



.header {
	color: #9a8c98;
}

.main-title {
	color: #22223b;
	float: left;
}

.main-subtitle {
	color :	#4a4e69;
	float: right;
}

.main-header {
	background-color: #f2e9e4;
}

.tab-prop {
	background-color: white;
}


.p1 {
	padding-top: 15px;
}

.content {
	background-color: white;
}

.page-border {
	height: 2px;
	background-color: #4a4e69;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;


		margin-top: 0px;
}

.doc-display {
	border-radius: 10px;
	padding: 10px;
	padding-left: 15px;
	background: #dee0e2;
	height: 150px;
	margin: 30px;
	max-width: 850px;
	max-height: 400px;

	overflow-y: scroll;
	font-family: Consolas, monaco, monospace;

}

.dropfield {
	background-color: #4CAF50;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
	min-width: 230px;
}

.dropfield:hover {
	background-color: #3e8e41;
}


.dropdown {
	position: relative;
	display: inline-block;
}

.dropdown-content {
	display: none;
	position: absolute;
  background-color: #f6f6f6;
  min-width: 230px;
  overflow: auto;
  border: 1px solid #ddd;
  z-index: 1;
}

.dropdown-content ul {
	color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content li:hover, ul:hover {
	background-color: #ddd;
}

.show {display: block}
